.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}

p, div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}
.div-stand-out {
    box-shadow: 0 0 1em 1em #ccc;
}

.container-narrow {
    background: url(/img/dust_scratches_tr_last.png) repeat 0 0;
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

div .normal {
    background: url(/img/dust_scratches.png) repeat 0 0;
}

.container-narrow > hr {
    margin: 30px 0;
}

label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}