<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/autosubmit.js"></script>
    <link href="/mystyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <title>All workers</title>

    <style>
        .css-serial {
            counter-reset: serial-number; /* Set the serial number counter to 0 */
        }
        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    </style>

</head>
<body>
<div class="container-narrow">

    <h1>List of employees</h1>
    <div class="container div-stand-out normal" margin="auto" width="300px" style="height:240px; overflow:auto;">
        <table class="table table-bordered css-serial">
            <thead>
            <tr>
                <th>#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worker: ${workers}">
                <form th:action="@{/processMainPageForm}" method="post" th:object="${worker}">
                    <input type="hidden" th:value="*{surname}" name="surname"/>
                    <input type="hidden" th:value="*{name}" name="name"/>
                    <td>&nbsp;</td>
                    <td th:text="${worker.name}"></td>
                    <td th:text="${worker.surname}"></td>
                    <td>
                        <button type="submit" class="btn btn-success" name="delete">Delete</button>
                        <button type="submit" class="btn btn-success" name="details">Details</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
<br>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm offset-sm-2">
            <div class="input-group mb-3">
                <form th:action="@{/search}" method="post" th:id="form">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                        <input type="text" class="form-control" th:name="searchPhrase" th:id="auto_submit_item"
                               th:value="${oldPhrase}" autofocus
                               value="value text" autocomplete="off">
                        <input type="submit" class="btn btn-success" th:value="OK">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Sort employees by: </h3>
                <form method="post" th:action="@{/sort}">
                    <input type="radio" name="sortingType" value="surname" checked="checked"> Surname <br>
                    <input type="radio" name="sortingType" value="name"> Name <br>
            </div>
            <div class="col-sm">
                <h3>Sort ascending/descending: </h3>
                <input type="radio" name="ascendingChosen" value="True" checked="checked"> Ascending <br>
                <input type="radio" name="ascendingChosen" value="False"> Descending <br>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" value="SORT" class="btn btn-success btn-block">
            </form>
        </div>
    </div>
<br>
<div class="form-row">
    <div class="col">
    <form th:action="@{/add}" method="get">
        <button type="submit" name="addWorker" class="btn btn-success btn-block justify-content-center">Add new worker</button>
    </form>
    </div>
    <div class="col">
    <form th:action="@{/manageWorkSchedules}" method="get">
        <button type="submit" name="manageWorkSchedules" class="btn btn-success btn-block justify-content-center">Manage work schedules</button>
    </form>
    </div>
</div>
</div>

<script src="/jquery-1.7.2.min.js"></script>
<script src="/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/background.js"></script>

</body>
</html>