<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link href="/mystyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>Error</title>
</head>
<body>
<div class="container-narrow" style="height: 100vh">

    <h1>Schedule does not exist</h1>
</div>
    <script src="/jquery-1.7.2.min.js"></script>
    <script src="/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/background.js"></script>
</body>
</html>