<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../layout/css/mystyle.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title >Schedule</title>

    <style>
    .css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
    }
    .css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
    }
    </style>

</head>
<body>
    <h1>Employees working on chosen shift</h1>

    <div class="container" margin="auto" width="300px">
    <table class="table table-bordered css-serial">
        <thead>
        <tr>
            <th>#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="worker: ${workers}">
            <td>&nbsp;</td>
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.surname}"></td>
        </tr>
        </tbody>
    </table>
        <a href="/" class="btn btn-primary">Go to main page</a>
    </div>

</body>
</html>